$color-primary: #1977fa;
$color-light-blue: #4da0ff;
$color-base-gray: #bfcbd9;
$color-base-black: #242c40;
$color-light-black: #838ba5;

$color-light-blue: #eff5fb;
$color-danger: #db3333;
$color-success: #009a61;